build 
imadconsult.zubbystudio.shop-20260707T170748.json  
instruction_claude.md
db-data             
imadconsult.zubbystudio.shop-desktop-2.json
docker-compose.yml
imadconsult.zubbystudio.shop-desktop-3.json        
malachy-s-cinematic-canvas
human_image.png     
imadconsult.zubbystudio.shop-desktop.json
wp-data
.hermes/
